# SPDX-FileCopyrightText: 2025 The Contributors to Eclipse OpenSOVD (see CONTRIBUTORS)
#
# SPDX-License-Identifier: Apache-2.0

name: Rust CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  format_and_clippy_nightly_toolchain:
    runs-on : ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: false
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2025-07-14
          components: clippy, rustfmt
      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
      - name: Formating - check for long lines
        run: cargo fmt -- --check --config error_on_unformatted=true,error_on_line_overflow=true,format_strings=true
      - name: Formatting - check import order
        run: cargo fmt -- --check --config group_imports=StdExternalCrate
      - name: Formatting - check imports granularity
        run: cargo fmt -- --check --config imports_granularity=Crate
      - name: run clippy nightly
        run: cargo clippy --all-targets -- -D warnings

  codegen:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: false
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.88.0
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
      - name: Build with codegen
        run: cargo build --locked --verbose --features gen-flatbuffers,gen-protos

  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.88.0
          components: clippy, rustfmt
      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
      - name: Install cargo-deny
        run: cargo install --locked --version 0.18.3 cargo-deny
      - name: Install taplo toml toolkit
        run: cargo install --locked --version 0.10.0 taplo-cli
      - name: check fmt
        run: cargo fmt --all -- --check
      - name: check toml fmt
        run: taplo fmt --check --diff
      - name: Run Clippy
        run: cargo clippy --locked --all-targets -- -D warnings
      - name: Build
        run: cargo build --locked --verbose
      - name: Run tests
        run: cargo test --locked -- --show-output
      - name: Check licenses
        run: cargo deny check licenses
      - name: Check advisories
        run: cargo deny check advisories
      - name: Check allowed sources
        run: cargo deny check sources
      - name: Check banned practises
        run: cargo deny check bans

  build_windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: false
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.88.0
          components: clippy, rustfmt
      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
      - name: Build
        run: cargo build --locked --verbose
      - name: Test
        run: cargo test --locked -- --show-output

  check_copyright_headers:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check Rust License Header
        uses: apache/skywalking-eyes/header@v0.7.0
        with:
          config: .licenserc_rust.yaml
      - name: Check Toml License Header
        uses: apache/skywalking-eyes/header@v0.7.0
        with:
          config: .licenserc_toml.yaml
